/* FlagsComponent's private CSS styles */
.flags {
  /*margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;

  width: 20em; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 42px 15px;
  margin: 0;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.flagTile div {
  background-color: bisque;
  background-clip: border-box;
  margin: 10px;
  position: relative;
  width: 400px;
  cursor: pointer;
  display: inline;
  /*border: 5px outset red; */
  /*-webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}

/*.flagTile div:hover {
  left: .1em;
} */

p#img {
  background-color: bisque;
  text-align: center;
  padding: 10px;
  height: 100px;
  margin: 0;
}

.flagTile.tileDetails div {
  width: 100px;
  height: 100px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 50px;
  background-color: cadetblue;
}

.tileDetails a {
  color: #333;
  text-decoration: none;
  background-color: bisque;
  /*margin: .5em;*/
  margin: 0;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.tileDetails a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.tileDetails a:active {
  background-color: #525252;
  color: #fafafa;
}

.tileDetails .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  align-self: flex-end;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.add-to-cart {
  position: absolute;
  /*display: inline-flex;
  align-self: flex-end;
  padding-top: 20px;*/
  flex-direction: row;
  left: 70%;
  width: 30%;
  /*left: 300px;
  top: 15px;*/
  background-color: aliceblue;
  color: #525252;
  padding: 0;
  /*font-size: 1.1rem;*/
  margin: 0;
  /*padding: 1px 10px 3px 10px;*/
  height: 60px;
  font-size: larger;
}

button.add-to-cart:hover {
  background-color: #525252;
  color: white;
}

#tileMedia div {
  background-color: #405061;
}

.price {
  background-color: darkolivegreen;
  text-align: center;
  padding: 10px;
  height: 40px;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
}

div#addcart {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  display: inline-flex;
  width: 100%;
  height: max-content;
  flex-direction: row;
}

p.quant {
  align-self: flex-start;
  background-color: darkseagreen;
  text-align: center;
  width: 50%;
  padding: 0;
  height: 40px;
  margin: 0;
  padding-top: 20px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-around;
}

.checkboxLabel {
  display: inline;
  margin: 0 0.5em;
}

.checkboxInput {
  display: inline;
  width: 15px;
  margin: 0;
}