<h2>My Flags</h2>


<li *ngFor="let flag of flags">
<!-- This lists all the flags -->
  <p>{{flag.tags}}</p>

  
  <input type="checkbox" id="search-tag-green" value="green" [checked]="" />
  <input type="checkbox" id="search-tag-blue" value="blue" />
  <input type="checkbox" id="search-tag-black" value="black" />
  <input type="checkbox" id="search-tag-yellow" value="yellow" />
  <input type="checkbox" id="search-tag-orange" value="orange" />
</li>

<!-- *ngIf=(flag.tags)
loop and check flags if they have the checked value
-->


<div *ngIf="isAdmin()">
  <label for="new-flag">Flag name: </label>
  <input id="new-flag" #flagName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(flagName.value); flagName.value=''">
    Add flag
  </button>

</div>


<div class="flags">
  <div class="flagTile"  *ngFor="let flag of tagFilter( checkBox() )">
    <div id="tileMedia">
      <p id="img">IMAGE</p>
      <!--<img alt="flagimage" src="" > -->
    </div>
    <div class="tileDetails">
      <ul>
        <li><a routerLink="/detail/{{flag.id}}">{{flag.name}}</a>
        <!--<span class="badge">{{flag.id}}</span> -->
        <li><p class="price">Price = ${{flag.price}}, ID={{flag.id}}</p></li>   
        <li>
          <div *ngIf="!accountService.isAdmin()" id="addcart">
            <p class="quant">Quantity = {{flag.quantity}}</p>
            <button *ngIf="ableToAddToCart()" type="button" class="add-to-cart" title="addToCart flag"
              (click)="addToCart(flag)">+</button>
          </div>
          <div *ngIf="accountService.isAdmin()" id="addcart">
            <p class="quant">AdminQuantity = {{flag.quantity}}</p>
            <button type="button" class="add-to-cart" title="delete flag"
              (click)="delete(flag)">X</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
