<h2>CUSTOM FLAG</h2>
<p>MENU OF TAGS</p>
<!-- forms- 
    attribute: method="get" or post 
drop-down menu is called a <select>
        and it has <option>s where you can set value="" 
output element has oninput="stuff"
    <input type="" id="" ...>
    <output name="" for="a b"></output>
input type COLOR has a whole colorpicker

attributes: disabled (useful for ifadmin)

        -->

<form action="{setRows}">
    <select id="a">
        <option value=1>1</option>
        <option value=2>2</option>
    </select>
    <!--<output oninput="{setRows}"></output>-->
</form>
<input type="submit">
<p>the thing: {{getRows()}}</p>


<!--<output id="thing" name="x" for="message"></output> -->

<P>PICTURE</P>
<p>PRICE AND Quantity</p>