<h2>My Shopping Cart</h2>

<p *ngIf="!cart">
    Please login to display the shopping cart.
</p>
<ul *ngIf="cart" class="cart">
    <li *ngFor="let purchase of cart.cartMap| keyvalue">
        <span class="purchase">
            <button type="button" class="modify" title="delete purchase"
            (click)="delete(purchase.key)">-</button>
            <span class="badge">{{purchase.value}}</span>
            <button type="button" class="modify" title="add purchase"
            (click)="add(purchase.key)">+</button>
            Flag Name: {{getFlagFromID(purchase.key)}}
            <!-- If we could do the below line instead of the above line, we could show the names.
            {{getFlagFromID(purchase.key)}} -->
        </span>
    </li>
</ul>