<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/flags">Flags</a>
  <div *ngIf="!accountService.getCurrentAccount()">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Create Account</a>
  </div>
  <div *ngIf="accountService.getCurrentAccount()">
    <a href=".">Logout</a>
    <a *ngIf="!accountService.isAdmin()" routerLink="/shoppingCart">Shopping Cart</a>
    <p>
      Welcome, {{accountService.getCurrentAccount()!.username}}!
      <strong *ngIf="accountService.isAdmin()"> (Administrator)</strong>
    </p>
  </div>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>