<div *ngIf="flag">
  <h2>{{flag.name | uppercase}} Details</h2>
  <div><span>id: </span>{{flag.id}}
    <br>
    <span>price: $</span>{{flag.price}}
    <br>
    <span>quantity: </span>{{flag.quantity}}
  </div>
  <div *ngIf="isAdmin()">
    <label for="flag-name">Flag name: </label>
    <input type="text" id="flag-name" [(ngModel)]="flag.name" placeholder="Flag name"/>
  </div>

  <button *ngIf="!isAdmin()" type="button" (click)="goBack()">go back</button>
  
  <div *ngIf="isAdmin()">
    <label for="edit-price">Price: </label>
    <input type="number" id="edit-price" #price />
    <br>
    <label for="edit-quantity">Quantity: </label>
    <input type="number" id="edit-quantity" #quantity />
    <br>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save(flag, price.valueAsNumber, quantity.valueAsNumber)">save</button>
  </div>
</div>